.testFeatures {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}

.testFeatures h2 {
  padding: 2em;
  width: 100%;
}

.carousel {
    margin-bottom: 6em;
}

.carousel img {
  width: 100%;
}

.carousel button::before {
  color: #000;
}

